.timer{
    position: absolute;
    top:1vh;
    right:1vw;
    z-index: -1;

    user-select: none;
}

.questionBox{
    width: 200px;
    height: 200px;
}

.questionText{
    font-size: 30px;
    user-select: none;
}

.gameButtonsContainer{
    margin-top:30px;
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
}

.gameButton{
    width: 230px;
    height: 50px;
    margin:5px;

    font-size: 40px;
    user-select: none;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.gameButton:hover{
    transform: scale(1.1);
    color:#5280ff;
}

.dim-screen{
    position: fixed;
    top:0;
    bottom:0;
    right:0;

    background-color:rgba(0, 0, 0, 0.8);

    width: 100vw;
    height: 100vh;
}

.countdownText{
    color:white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}

.results-box{
    width: 30vw;
    height: 85vh;
    overflow-y: scroll;

    border-radius: 15px;

    min-width: 450px;
}

.results-header-text{
    font-size: 30px;
    text-align: center;
}

.results-container{
    flex-flow: column;
}

.result{
    width: 25vw;
    height: 10vh;
    background-color: #EEE;

    margin:auto;
    margin-top:5px;

    min-width: 400px;
    min-height: 50px;

    overflow: hidden;

    justify-content: space-evenly;
}

.result-questionText-box{
    overflow: hidden;
    margin: 5px;
    height:7vh;

    min-width: 40px;
    min-height: 40px;
}

.result-questionText{
    text-align: center;
    margin:auto;
}

.result-Text-box{
    overflow: hidden;
    margin: 5px;
    height: 7vh;
    padding-left: 5px;
    padding-right:5px;
    
    min-width: 100px;
    min-height: 40px;

    flex-grow: 2;
}

.correct{
    background-color: #b8ffbb;
}

.incorrect{
    background-color: #ff9999;
}
