.timer{
    position: absolute;
    top:1vh;
    right:1vw;

    user-select: none;
}

.questionBox{
    width: 200px;
    height: 200px;
}

.questionText{
    font-size: 30px;
    user-select: none;
}

.gameButtonsContainer{
    margin-top:30px;
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
}

.gameButton{
    width: 230px;
    height: 50px;
    margin:5px;

    font-size: 40px;
    user-select: none;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.gameButton:hover{
    transform: scale(1.1);
    color:#5280ff;
}

.dim-screen{
    position: absolute;
    top:0;
    bottom:0;
    right:0;

    background-color:rgba(0, 0, 0, 0.8);

    width: 100vw;
    height: 100vh;

    color:white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}

.results-container{
    width: 500px;
    height: 700px;
}
