body {
    background-color: #adfcff;
    background-image: linear-gradient(
        to bottom,
        rgba(255,255,255,.7),
        #ffffff00

    );

    background-attachment: fixed;
    overflow-x: hidden;
}

.flex-container{
    display:flex;
}

.right{
    justify-content: right;
}

.center-horizontal{
    justify-content: center;
}

.center-vertical{
    align-items: center;
}

